<!DOCTYPE html>
<html>
  <head>
    <title>DemoNews</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render "commons/navigations" %>

    <div class="container">
      <%= flash_messages %>

      <%= content_for?(:content) ? yield(:content) : yield %>
      <hr>

      <%= render "commons/footer" %>
    </div>

  </body>
</html>
